@import url(./reset.css);

@font-face {
  font-family: "futura";
  src: url(../fonts/futurabold.woff2.ttf);
  font-weight: 400;
  font-display: swap;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.wrapper {
  width: 1400px;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 596px;
  background: url(../images/background/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 30px;
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%);
  margin-bottom: 122px;
}
.header::before,
.main-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.header-navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 113px;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  z-index: 1;
}
.header-name {
  width: 281px;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  padding-left: 202px;
}
.header-name-span {
  font-weight: bold;
  color: rgba(20, 175, 202, 1);
  text-transform: uppercase;
}
.header-name-items {
  display: flex;
  justify-content: space-between;
  width: 595px;
  padding-right: 174px;
}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: rgba(62, 76, 78, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}
a:hover {
  color: rgba(20, 175, 202, 1);
}
.header-text {
  font-family: "futura";
  color: white;
  font-size: 52px;
  padding-top: 149px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

/* Основна Частина: */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.name {
  width: 506px;
  z-index: 1;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name-color {
  font-family: "Roboto", sans-serif;
  color: rgba(20, 175, 202, 1);
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.name-text {
  font-family: "Open Sans", sans-serif;
  color: rgba(66, 79, 87, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 10px;
}
.name-text-white {
  color: rgba(255, 255, 255, 1);
}
.main-text {
  width: 992px;
  color: rgba(66, 79, 87, 1);
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 90px;
}
/*  блок COMPANIES */

.main-two {
  display: flex;
  position: relative;
  width: 1400px;
  height: 715px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background/img2.jpg);
  background-attachment: fixed;
  background-size: cover;

  clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 0;
  margin-bottom: 122px;
}
.main-two-logos {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 121px;
  grid-column-gap: 45px;
  z-index: 1;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.main-two::before {
  background-color: rgba(0, 0, 0, 0.9);
}

.logo-box {
  width: 225px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 251, 1);
}

/* Block   MEET US */

.cards {
  width: 997px;
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  padding-bottom: 22px;
}
.card-text {
  text-align: center;
  width: 309px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
.main-three {
  margin-bottom: 128px;
}
.main-text-italic {
  position: relative;
  width: 872px;
  color: rgba(211, 204, 204, 1);
  z-index: 1;
  font-family: "OpenSans";
  font-style: italic;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.main-text-italic::after {
  content: "- Shoaib Ahmed";
  position: absolute;
  right: 139px;
  bottom: 50px;
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
}

.main-four-parralax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 715px;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.main-four {
  position: absolute;
  height: 496px;
  clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  top: 0;
  left: 0;
  /* transform: translateZ(-1px); */
}
.name-text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*  transform: translateZ(0); */
}
.main-five {
  padding-bottom: 96px;
}
.main-text-equetion {
  width: 816px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
  color: rgba(66, 79, 87, 1);
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 88px;
}
.footer-text {
  width: 415px;
  font-family: "Open Sans";
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(61, 60, 60, 1);
}
.footer-text-spam {
  font-weight: 700;
  font-size: 16px;
}
